/* roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* roboto flex */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/* raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/*
************************* 
  || BASIC RESET
*************************
*/

*,
::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video,
audio,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: raleway, sans-serif;
  background-image: repeating-linear-gradient(145deg, #fff 5px, #ddd 8px);
}
main {
}
/*
************************* 
  || Reusable classes
*************************
*/
.heading__secondary {
  display: inline-block;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -2px;
  font-family: raleway, sans-serif;
  position: relative;
  margin-block-end: 3rem;
  padding-block-end: 1.6rem;
  color: #000;
}
.heading__secondary::after {
  content: "";
  width: 80%;
  /* height: 2px; */
  border-bottom: 2px solid #000;
  position: absolute;
  left: 0;
  bottom: 0.5rem;
}
/*
************************* 
  || HEADER/NAVIGATION
*************************
*/
.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  padding-block: 1.6rem;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.527);
  height: 8.4rem;
  background-color: #fff;
}

.navbar__container {
  max-width: 90%;
  width: 130rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.footer__logo {
  height: 5.2rem;
}
.main__navbar,
.cta__container {
  display: none;
}

/* || mobile navigation */
.mobile__nav__menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  background-color: transparent;
  border: none;
}
.mobile__nav__menu__btn div,
.mobile__nav__menu__btn::after,
.mobile__nav__menu__btn::before {
  width: 90%;
  height: 4px;
  background-color: #4e5dc0;
  transition: all 0.3s;
  display: block;
}
.mobile__nav__menu__btn::after,
.mobile__nav__menu__btn::before {
  content: "";
  position: absolute;
}
.mobile__nav__menu__btn::before {
  top: 5px;
}

.mobile__nav__menu__btn::after {
  bottom: 5px;
}

.menu__open .mobile__nav__menu__btn div {
  background-color: transparent;
}
.menu__open .mobile__nav__menu__btn::before {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.menu__open .mobile__nav__menu__btn::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-135deg);
}
.mobile__navbar {
  position: fixed;
  top: 0;
  left: -100%;
  pointer-events: none;
  visibility: hidden;
  padding-block-start: 8.4rem;
  width: 100%;
  height: 100vh;
  z-index: 9998;
  background-color: #ffffff86;
  backdrop-filter: blur(5px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__open .mobile__navbar {
  left: 0;
  pointer-events: auto;
  visibility: visible;
}
.mobile_nav {
  display: flex;
  flex-direction: column;
  font-size: 2.8rem;
  justify-content: center;
  align-items: center;
  padding-top: 3.8rem;
  list-style-type: none;
  row-gap: 2.5rem;
}

.mobile_nav__link:any-link {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s;
  padding: 0.8rem 1.6rem;
}
.mobile_nav__link:hover,
.mobile_nav__link:active {
  cursor: pointer;
  color: #4e5dc0;
}

@media screen and (min-width: 48em) {
  /*
************************** 
  || HEADER/NAVIGATION
**************************
*/

  /* || mobile navigation */
  .mobile__nav__menu__btn {
    display: none;
  }

  /* || primary/pc navigation */
  .cta__container {
    display: block;
  }
  .main__navbar {
    display: flex;
    /* gap: 4.8rem; */
    /* gap: 2.2rem; */
    gap: clamp(2.2rem, 3.2vw, 4.8rem);
    list-style-type: none;
  }
  .nav__link {
    position: relative;
  }
  .nav__link::after {
    width: 0%;
    transition: all 0.3s;
    content: "";
    position: absolute;
    bottom: 0.2rem;
    height: 0.2rem;
    transform: translateX(-50%);
    left: 50%;
  }
  .active.nav__link::after,
  .nav__item:hover .nav__link::after {
    width: 70%;

    background-color: #1f2f66;
  }
  .active.nav__link::after {
    background-color: #4e5dc0;
  }

  .nav__link:any-link {
    font-weight: 600;
    /* font-size: 1.8rem; */
    font-size: clamp(1.6rem, 1.5vw, 1.8rem);
    display: block;
    padding: 1rem 0.5rem;
    text-decoration: none;
    color: #777c85;
    transition: all 0.3s;
    cursor: pointer;
  }
  .nav__link:not(.cta):hover,
  .nav__link:not(.cta):active {
    color: #4e5dc0;
  }
  .active.nav__link {
    color: hsl(232, 60%, 38%);
  }
  .cta__container .cta {
    background-color: #4e5dc0;
    padding: 1.2rem 1.5rem;
    color: #fff;
    border-radius: 5px;
  }
  .cta__container .cta:hover {
    background-color: hsl(232, 60%, 38%);
  }
}
/*
************************* 
  || SECTION TEAM
*************************
*/

.container {
  max-width: 90%;
  width: 130rem;
  margin-inline: auto;
  margin-block-end: 7.6rem;
}
.section__team {
  margin-block-start: calc(8.4rem + 8rem);
}
.section__team__goal {
  margin-block-end: 9.6rem;
}
.content__container {
  display: flex;
  flex-direction: column;
  row-gap: 6.8rem;
}
.text__container {
  font-size: 2rem;
  color: #888;
  line-height: 1.6;
}
.text__container p:not(:last-of-type) {
  margin-block-end: 3.2rem;
}
.img__container {
  align-self: center;
}
.img__team {
  object-fit: cover;
  max-height: 50rem;
  max-width: 50rem;
  width: 100%;
  border-radius: 30px;
}
@media screen and (min-width: 48em) {
  /*
************************* 
  || SECTION TEAM
*************************
*/
  .container {
    padding: 1rem 2rem;
  }
  .content__container {
    gap: 4.8rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .text__container {
    max-width: 50rem;
    flex-basis: 60%;
    flex-shrink: 0;
  }
  .section__founder .text__container {
    order: 1;
  }
}
@media screen and (min-width: 54em) {
  /*
************************* 
  || SECTION TEAM
*************************
*/
  .container {
    padding: 1rem 2rem;
  }
  .content__container {
    gap: 4.8rem;
    flex-direction: row;
  }
  .text__container {
    max-width: 90rem;
    flex-basis: 50%;
  }
}

/*
************************* 
  || FOOTER
*************************
*/

.footer {
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.footer .container {
  margin-block-end: 0;
  padding-block: clamp(2.3rem, 5vh, 4rem);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.footer .container > *:not(:last-child) {
  margin-block-end: 3rem;
}
.site__info,
.contact__info,
.footer__nav,
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 40rem;
}
/* .footer__logo {
  height: 2.2rem;
} */

.policy {
  margin-block-start: 3rem;
}

.heading__footer {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #4e5dc0;
  line-height: 1.3;
  margin-block-end: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.policy .heading__footer {
  text-decoration: underline;
}
.copyright__text,
.footer__address,
.footer__email,
.footer__link {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #999;
  margin-block-end: clamp(2rem, 3vw, 4.2rem);
}
.footer__address {
  font-style: normal;
}
.footer__email {
  text-decoration: none;
}
.footer__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer__link:any-link {
  text-decoration: none;
  transition: all 0.3s;
}

.footer__link:hover,
.footer__link:active {
  color: #4e5dc0;
}
.socials {
  flex-direction: row;
  gap: 1.2rem;
}
@media screen and (min-width: 48em) {
  /*
************************* 
  || FOOTER
*************************
*/

  .footer .container > *:not(:last-child) {
    margin-block-end: 0;
  }
  .footer .container {
    flex-direction: row;
    justify-content: space-between;

    align-items: stretch;
  }
  .site__info,
  .contact__info,
  .footer__nav,
  .socials {
    align-items: stretch;
    text-align: left;
    max-width: clamp(20rem, 25vw, 30rem);
  }
}
